<%- include('header') %>

<%- include('display') %>

<form action="\edit\verify" method="get">
<button type="submit" class="btn btn-primary" id="submit">Edit</button>
</form>

</body>
</html>


    
    